/*------------
    For PC
------------*/
body{
    margin: 0;
}
/* -------------------
    banner part style 
----------------------*/

.banner{
    width: 100%;
    height: 695px;
    background-color:#2D25A0;
    /* background-image: linear-gradient(to bottom left, #06a6f0, #450ae6); */
    position: relative;
}
.welcome-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 150px;
    padding: 140px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 200px; */
}
.welcome-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 44px;
    text-align: center;

}
.title{
    color: rgb(251, 255, 7);
    text-shadow: 0px 0px 40px rgb(7, 130, 245);
}
button{
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    font-size: 18px;
}
button a{
    text-decoration: none;
    color:rgba(214, 214, 186, 0.979);
    font-weight: bolder;
}

.image img{
    width: 530px;
    height: 410px;
    position: absolute;
    top: 200px;
}
.welcome-image:hover .welcome-img-back img{
    transform: scale(1) rotate(-360deg);
    transition: ease-in-out 2s;
}
.welcome-img-back img{
    width: 556px;
    height: 438px;
    border-radius: 80px;
    opacity: 0.5;
    transform: scale(0.68);
}
/*-----------------
    About players
------------------*/
.about-players{
    margin: 70px 180px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-image img{
    width: 100%;
    height: 50%;
}
.player-detail h3{
    font-size: 24px;
}
.player-detail p{
    color:rgba(10, 10, 10, 0.959);
}


/*------------------
    Football shows
-------------------*/
.football-shows{
    background-color:#2D25A0;
    width: 100%;
    height: 400px;
}
.show-title{
    color: yellow;
    padding: 30px 30px 0;
    font-size: 28px;
}
hr{
    width: 250px;
    height: 2px;
    background-color:rgba(243, 247, 9, 0.979);
    margin-left: 30px;

}
.shows{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    padding: 30px;
    
}
.show{
    width: 400px;
    height: 200px;
    position: relative;
    border: 1px solid rgba(8, 188, 233, 0.274);
    overflow: hidden;
    background: #2D25A0;
    box-shadow: 0px 0px 40px rgba(10, 10, 10, 0.959);
}
.show-pic img{
    width: 100%;
    height: 200px;
}
.show:hover .show-pic img{
    transform: scale(1.5) rotate(360deg);
    transition: ease-in-out 1s;
}
.show-detail{
    display: none;
    height: 162px;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 20px;
    position: absolute;
    top: 0;
}
.show:hover .show-detail{
    display: block;
}
.show-detail h3, p{
    color: white;
}
.show-detail a{
    color:rgba(253, 228, 0, 0.973);
}
span{
    font-size: 24px;
    color:rgba(240, 216, 0, 0.973);
    font-weight: 900;
}
/*--------------------
    Football Sponsers
----------------------*/
.sponsers{
    margin: 50px 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;   
}
.sponser{
    width: 200px;
    height: 120px;
}
.sponser img{
    width: 200px;
    height: 120px;
}
.sponser:hover .logo img{
    transform: scale(0.76);
}

/*-------------
    Footer
-------------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.football-img img{
    width: 483.87px;
    height: 110px;
}
.social-media{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}
.fab{
    color: rgb(70, 127, 250);
    transform: scale(1.5);
}
.fab:hover {
    transform: scale(2);
}
.copywrite p{
    color:rgb(33, 113, 233);
    font-size: 14px;
}
/*-------------------
    For small device
---------------------*/
@media only screen and (max-width:688px){
    
    .banner{
        width: 100%;
        height: auto;
    }
    .welcome-part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcome-image{
        position: relative;
        /* display: none;*/ 
    } 
    .image img{
        width: 70%;
        height: auto;
        position: absolute;
        top: 130px;
        left: 80px;
    } 
    .players, .shows{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .football-shows{
        height: auto;
    }
    .sponsers{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .sponser{
        margin: 40px;
    }
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .football-img img{
        width: 80%;
        height: auto;
        margin: 20px;
    }
    
} 

/*---------------------
    For medium device
----------------------*/
@media only screen and (min-width:688px) and (max-width:992px){
    .banner{
        width: 100%;
        height: auto;
    }
    .welcome-part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .welcome-image{
        position: relative;
        /* display: none;*/ 
    } 
    .image img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 90px;
        left: 10px;
    } 
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .shows{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .football-shows{
        height: auto;
    }
    
    .sponsers{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .sponser{
        margin: 40px;
    }
    .football-img img{
        width: 60%;
        height: auto;
        margin: 20px;
        padding-left: 90px; 
    }
}
